body {
    background-color: rgb(218, 184, 139);
 color: rgb(245, 226, 141);
 font-family: "Merriweather", serif;;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;
}

 button {
    background-color: aquamarine;
    color: aliceblue;
    font-family: "Merriweather", serif;
 }